* {
    margin: 0;
    font-family: 'Noto Sans Vai', sans-serif;
}

body {
    background-color: rgb(15, 14, 14);
    color: white;
}

nav a , footer a {
    text-decoration: none;
    color: white
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header h1 {
    font-family: "Satisfy";
    font-size: 80px;
    font-weight: normal;
    margin-left: 40px;
    position: absolute
}

h2 {
    font-size: xx-large;
    margin-left: 13px;
    font-weight: bolder;
    font-size: 70px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    size: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}
h4 {
    text-align: center;
    margin-bottom: 60px;
}
h4 a {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

nav {
    align-self: center;
}
nav ul{
    padding: 10px;

}

nav li {
    display: inline;
    padding: 8px 10px;
  
}

.flex-hero {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 0 30px 10px 30px;
}

.flex-hero p {
    margin-bottom: 28px;
}

.child1 {
    margin: auto
}

.flex-about-me {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    text-align: center;
    margin: 0 100px 80px 100px;
    gap: 30px;
    padding: 15px;
    border-radius: 10px;
}


.grid-container{
    display: grid;
    gap:20px;
    justify-items: center;
    justify-items: stretch;
    margin: 0 50px 100px 50px;
    
    
}
.grid-container > * {
    height: 500px;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    

}
.grid-container :first-child{
    grid-column: span 2;
   
}
.img1 {
    background-image:url(/assets/placeholder1.webp);
}
.img2 {
    background-image: url(/assets/placeholder2.webp);
}
.img3{
    background-image: url(/assets/placeholder3.webp);
}
.img4{
    background-image: url(/assets/placeholder4.webp);
}
.img5{
    background-image: url(/assets/placeholder5.webp);
}
.flex-footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
   align-items: center;
   margin: 0 20px 0 20px;

}
.flex-footer li {
    display: inline;
    margin:40px;
}
