* {

    font-family: 'Noto Sans Vai', sans-serif;
}

body {
    background-color: rgb(15, 14, 14);
    color: white;
    margin: 0;
}

nav a,
footer a {
    text-decoration: none;
    color: white
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header h1 {
    font-family: "Satisfy";
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    left: 40px;

}

h2 {
    display: grid;
    color: white;
    position: relative;
  }
  
  h2 .typewriter {
    width: 11ch;
    animation: 
      typing 5s steps(11) infinite,
      blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    position: absolute;
    top:35px;
    left: 20px;
  }
  
  @keyframes typing {
    0% {
      width: 0
    }
    30% {
      width: 11ch
    }
    100% {
      width: 11ch
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    height: 800px;
    align-items: center;
    
}


.hero .subtext {
    display: block;
    font-size: 20px;
}

.hero .name {
    font-size: 50px;
    
}

h3 {
    text-align: center;
    size: 10px;
}

h4 {
    text-align: center;
    margin-bottom: 60px;
}

h4 a {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav {
    align-self: center;
}

nav ul {
    padding: 10px;

}

nav li {
    display: inline;
    padding: 8px 20px;

}

.hero {
    background: transparent url(/assets/profilepic.png) no-repeat;
    background-position: right 0px;
    margin-bottom: 60px;

}


.flex-about-me {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    text-align: center;
    margin: 0 100px 80px 100px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 34px black inset;
}


.grid-container {
    display: grid;
    gap: 30px;
    justify-items: center;
    justify-items: stretch;
    margin: 0 50px 100px 50px;


}

.grid-container >a span{
    background: black;
    color: white;
    padding: 30px;
    border-radius: 29px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 120px);
    width: 150px;
    text-align: center;

}

.grid-container > a {
    height: 500px;
    background-size: cover;
    background-position: top;
    border-radius: 20px;
    position: relative;


}

.grid-container > a:first-child {
        grid-column: span 2;
        background-size: 668px;
    

}

.grid-container > a.img1  {
    background-image: url(./assets/justfeast.gif);
   

}

.grid-container > a.img2 {
    background-image: url(./assets/refactor.png);

}

.grid-container > a.img3 {
    background-image: url(./assets/website.png);
    background-position: top left;
}

.grid-container > a.img4 {
    background-image: url(./assets/comingsoon.jpg);
}

.grid-container > a.img5 {
    background-image: url(./assets/comingsoon2.jpeg);
}

.flex-footer {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin: 0 20px 0 20px;

}

.flex-footer li {
    display: inline;
    margin: 40px;
}

@media only screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    header h1{
        position: relative;
        text-align: center;
        left:0;
    }
    
    .flex-about-me{
        margin: 2px;
        
    }
    .hero{
        background-position: center
    }
    .grid-container >a span{
        width: auto;
        left: 0;
        padding: 10px;

    
    }
    .grid-container{
        margin: 2px;
    }
  }

  @media only screen and (max-width: 540px){
    nav {
        display: none;
    }
    .hero{
        background-position: center
    }
    .grid-container > a{
        grid-column: span 2;
    
    }
    
    
  }